.askee_box {
    float: right; 
    background-color: #e1edf5; 
    padding-left: 0.4rem; 
    padding-right: 0.4rem; 
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem; 
    width: 175px; 
    height: 65px; 
}

.askee_box_time {
    display: block; 
    color: grey; 
    font-size: 0.8rem; 
}

