.splash {
    background-color: #ffcf0f; 
    height: 450px; 
    width: 110vw; 
    transform: skew(0deg, -2.5deg); 
}

.splash > * {
    transform: translate(0, 110px) skew(0deg, 2.5deg); 
    text-align: center; 
}

.splash > h1 {
    font-size: 3.6rem; 
    font-weight: 700; 
    font-family: 'Roboto Slab', serif;
}


.splash_body > h2 {
    font-size: 3rem; 
    font-weight: 700; 
    font-family: 'Roboto Slab', serif;
    transform: translate(0, 200px); 
}

.splash > .buttons {
    transform: translate(0, 150px) skew(0deg, 2.5deg); 
}

.create_account {
    padding: 0.8rem; 
    padding-left: 1.2rem;
    padding-right: 1.2rem;  
    font-family: 'Roboto', sans-serif;
    background-color: white; 
    color: #f48024; 
    margin-right: 0.25rem; 
    border: 1px solid #f48024; 
    border-radius: 5px; 
    font-size: 15px; 
    box-sizing: border-box; 
}

.demo {
    padding: 0.8rem; 
    padding-left: 1.2rem; 
    padding-right: 1.2rem; 
    font-family: 'Roboto', sans-serif;
    background-color: #f48024; 
    color: white; 
    margin-left: 0.25rem; 
    border: none; 
    border-radius: 5px; 
    font-size: 15px; 
}


.tagline {
    font-family: 'Roboto', sans-serif;
    transform: translate(0, 130px) skew(0deg, 2.5deg); 
    font-size: 1.4rem; 
    width: 450px; 
    margin: 0 auto;
    line-height: 1.3; 
}

.three {
    font-family: consolas; 
}