body {
    background-color: #eff0f1; 
}

.login_image {
    transform: translateY(140px);
    text-align: center; 
    margin: auto; 
    display: block; 
    width: 4%; 
    margin-bottom: 1.7rem; 
}

.sign_in_form {
    transform: translateY(150px);
    padding: 1.75rem; 
    margin: 0 auto; 
    border: 1px solid black; 
    width: 21%; 
    background-color: white; 
    border-radius: 5px; 
    border: none; 
    font-family: Arial, Helvetica, sans-serif; 
    box-shadow: 0px 1px 20px rgb(206, 206, 206); 
}

.input_field {
    padding: 0.5rem; 
    padding-top: 0.55rem; 
    padding-bottom: 0.55rem; 
    margin-top: 0.3rem; 
    display: block; 
    width: 100%; 
    border-radius: 3.5px; 
    border: 1px solid rgb(187, 187, 187); 
    font-size: 0.8rem; 
    box-sizing: border-box; 
}

.label {
    font-weight: bold; 
    font-size: 15px; 
}

.submit_button {
    width: 100%; 
    background-color: #0094ff; 
    padding-top: 0.65rem; 
    padding-bottom: 0.65rem; 
    color: white; 
    font-size: 0.8rem;
    border: none; 
    margin-top: 1rem;  
    border-radius: 5px; 
    border: 1px solid #007bd3; 
    outline: none; 
}

.submit_button:hover {
    cursor: pointer; 
}

.submit_button:focus {
    border: 1px solid #0094ff; 
    box-shadow: 0 0 0pt 3pt rgb(207, 237, 255); 
}

.signup_reminder {
    transform: translateY(190px);
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; 
    margin-bottom: 2.5rem; 
}

.signup_link {
    color: #007bd3; 
}

.blue_terms_2 {
    color: #007bd3; 
    float: right; 
    font-size: 0.8rem; 
}