body {
    background-color: #eff0f1; 
}

.login_image {
    transform: translateY(80px);
    text-align: center; 
    margin: auto; 
    display: block; 
    width: 32px; 
    height: 37px; 
    margin-bottom: 1.7rem; 
}

.facebook_login {
    text-decoration: none; 
    width: 19rem; 
    transform: translateY(80px); 
    text-align: center; 
    margin: auto; 
    display: block; 
    margin-bottom: 1.5rem; 
    box-shadow: 0px 1px 20px rgb(206, 206, 206); 
    background-color: #375499; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif; 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
    border-radius: 5px; 
    font-size: 13.5px; 
}

.facebook_login:hover {
    cursor: pointer; 
    background-color: #2a4585; 
}

.facebook_login:focus {
    outline: none; 
}

.sign_in_form {
    transform: translateY(80px);
    padding: 1.65rem; 
    margin: 0 auto; 
    border: 1px solid black; 
    width: 15.5rem; 
    background-color: white; 
    border-radius: 5px; 
    border: none; 
    font-family: Arial, Helvetica, sans-serif; 
    box-shadow: 0px 1px 20px rgb(206, 206, 206); 
}

.input_field {
    padding: 0.5rem; 
    padding-top: 0.55rem; 
    padding-bottom: 0.55rem; 
    margin-top: 0.3rem; 
    display: block; 
    width: 100%; 
    border-radius: 3.5px; 
    border: 1px solid rgb(187, 187, 187); 
    font-size: 0.75rem; 
    box-sizing: border-box; 
}

.input_field_error {
    padding: 0.5rem; 
    padding-top: 0.55rem; 
    padding-bottom: 0.55rem; 
    margin-top: 0.3rem; 
    display: block; 
    width: 100%; 
    border-radius: 3.5px; 
    border: 1px solid #d50b1f;  
    font-size: 0.8rem; 
    box-sizing: border-box; 
}

.input_field_error:focus {
    outline: none; 
    border: 1px solid #d50b1f; 
    box-shadow: 0 0 0pt 3.5pt #ffd3d9; 
}

.label {
    font-weight: bold; 
    font-size: 13.5px; 
}

.submit_button {
    width: 100%; 
    background-color: #0094ff; 
    padding-top: 0.65rem; 
    padding-bottom: 0.65rem; 
    color: white; 
    font-size: 0.8rem;
    border: none; 
    margin-top: 1rem;  
    border-radius: 5px; 
    border: 1px solid #007bd3; 
    outline: none; 
}

.submit_button:hover {
    cursor: pointer; 
    background-color: #0076cb; 
}

.submit_button:focus {
    border: 1px solid #0094ff; 
    box-shadow: 0 0 0pt 3pt rgb(207, 237, 255); 
}

.signup_link {
    color: #007bd3; 
}

.signup_link:hover {
    color: #49b3ff; 
}

.login_link {
    color: #007bd3; 
}

.login_link:hover {
    color: #49b3ff; 
}

.blue_terms_2 {
    color: #007bd3; 
    float: right; 
    font-size: 0.75rem; 
}

.flex_password {
    display: flex; 
    justify-content: space-between; 
}

.error_icon {
    color: #d50b1f; 
    transform: translate(-10px, -25px); 
}


.inline_errors {
    display: flex; 
    justify-content: space-between; 
}

.input_error_message {
    color: #d50b1f; 
    font-size: 0.75rem; 
    margin-top: 0.25rem; 
    margin-left: 0.1rem; 
}

.signup_reminder {
    transform: translateY(120px);
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; 
    margin-bottom: 2.5rem; 
}


.homepage_reminder_signin {
    transform: translateY(95px);
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 13px; 
    margin-bottom: 4rem; 
}