.new_question_page {
    background-color: white; 
    height: 190vh; 
}

.question_form {
    transform: translateY(100px); 
}

.button_header {
    transform: translateY(80px); 
    margin: 0 auto; 
    text-align: center; 
}

.button_carousel:focus {
    outline: none; 
}

.button_carousel_selected:focus {
    outline: none; 
}

.bold_help {
    font-weight: bold; 
    margin-left: 0.3rem; 
}

.carousel_tagline {
    transform: translateY(-35px); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.8rem; 
    margin-bottom: 1rem; 
}

.carousel_tagline > a {
    text-decoration: none; 
    color: #0077cc; 
}

.button_carousel:hover {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.8rem; 
    border: none; 
    background-color: #e0f1ff; 
    border-radius: 25px; 
    padding-left: 1.1rem; 
    padding-right: 1.1rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    cursor: pointer; 
    margin-left: 0.1rem; 
    margin-right: 0.1rem; 
}

.button_carousel {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.8rem; 
    border: none; 
    padding-left: 1.1rem; 
    padding-right: 1.1rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    color: #0077cc; 
    margin-left: 0.1rem; 
    margin-right: 0.1rem; 
}

.button_carousel_selected {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.8rem; 
    border: none; 
    background-color: #0094ff; 
    border-radius: 25px; 
    padding-left: 1.1rem; 
    padding-right: 1.1rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    color: white; 
    margin-left: 0.1rem; 
    margin-right: 0.1rem; 
}

.carousel_body {
    width: 60%;  
    margin: 0 auto; 
}


.carousel_header {
    font-size: 1.6rem; 
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;  
    text-align: left; 
    transform: translateY(-70px); 
}

.carousel_subheader {
    margin-top: 1rem; 
    font-size: 1.1rem; 
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;  
    text-align: left; 
    transform: translateY(-70px);  
}

.carousel_example_1 {
    transform: translateY(-40px); 
    background-color: #fafafb; 
    padding: 1.4rem; 
    border: 1px solid rgb(218, 218, 218); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.85rem; 
}

.hypothetical {
    font-weight: bold;
    margin-bottom: 2rem;  
}

.hypothetical_example {
    margin-bottom: 1.5rem; 
}

.carousel_check {
    color: rgb(59, 186, 59); 
    padding-right: 0.5rem; 
    font-size: 1.25rem; 
    margin-bottom: 0.2rem; 
}

.carousel_x {
    color: #d24a59; 
    padding-left: 0.2rem; 
    padding-right: 0.7rem; 
    font-size: 1.25rem; 
}

.separator_top {
    margin-bottom: 1.2rem; 
}

.separator_bottom {
    margin-top: 1.2rem; 
    margin-bottom: 0.6rem; 
}

.carousel_question_title {
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 0.3rem; 
    font-size: 0.95rem; 
}

.title_input {
    width: 100%; 
    box-sizing: border-box; 
    padding: 0.5rem; 
    padding-left: 0.75rem; 
    font-size: 0.8rem; 
    border-radius: 5px; 
    border:  1px solid rgb(189, 196, 202); 
}

.title_input:focus {
    outline: none; 
    border: 1px solid #0094ff; 
    box-shadow: 0 0 0pt 3pt rgb(207, 237, 255); 
}

::-webkit-input-placeholder { 
  color: lightgray; 
}

.review_title::-webkit-input-placeholder { 
    color: black; 
}

.prev_next_buttons {
    float: right; 
}

.prev_button {
    margin-top: 1.5rem; 
    padding-top: 0.65rem; 
    padding-bottom: 0.65rem; 
    padding-left: 0.75rem; 
    padding-right: 0.75rem; 
    color: #0077cc; 
    border: none; 
    border-radius: 5px; 
    outline: none; 
    color: '#fafafb'; 
    text-decoration: none; 
    font-family: Arial; 
    font-size: 0.8rem; 
}

.next_button {
    margin-top: 1.5rem; 
    background-color: #0094ff; 
    padding-top: 0.65rem; 
    padding-bottom: 0.65rem; 
    padding-left: 0.75rem; 
    padding-right: 0.75rem; 
    color: white; 
    border-radius: 5px; 
    border: 1px solid #007bd3; 
    outline: none; 
    color: '#fafafb'; 
    text-decoration: none; 
    font-family: Arial; 
    font-size: 0.8rem; 
}

.disabled_next_button {
    margin-top: 1.5rem; 
    background-color: #334957; 
    opacity: 0.4; 
    padding-top: 0.65rem; 
    padding-bottom: 0.65rem; 
    padding-left: 0.75rem; 
    padding-right: 0.75rem; 
    color: white; 
    border-radius: 5px; 
    outline: none; 
    color: '#fafafb'; 
    text-decoration: none; 
    font-family: Arial; 
    font-size: 0.8rem;  
}

.next_button:hover {
    background-color: #0076cb; 
    cursor: pointer; 
}

.dr1, .dr2, .dr3, .dr4 {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    font-size: 0.8rem; 
    padding: 0.7rem; 
}

.dr1:hover, .dr2:hover, .dr3:hover, .dr4:hover {
    background-color: #ecf3fa; 
    cursor: pointer; 
}

.dropdown_textarea {
    margin: 0.5rem; 
    width: 90%; 
    box-sizing: border-box; 
    resize: none; 
    vertical-align: bottom; 
    border: none; 
    font-family: Consolas; 
    font-size: 0.9rem; 
}

.dropdown_textarea {
    outline: none; 
}


.plus_minus {
    float: right; 
    font-size: 0.8rem; 
    color: #0077cc; 
}

.input_below_example {
    width: '100%';
    background-color: #fafafb;  
    padding: 0.5rem; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.85rem; 
}

.header_detail {
    font-weight: bold; 
}


.textarea_example_blue {
    outline: none; 
    border: 1px solid #0094ff; 
    box-shadow: 0 0 0pt 3pt rgb(207, 237, 255); 
}

.big_div {
    border: 1px solid rgb(190, 190, 190); 
}

.big_div2 {
    outline: none; 
    border: 1px solid #0094ff; 
    box-shadow: 0 0 0pt 3pt rgb(207, 237, 255); 
}

.guided_mode {
    width: 100%; 
    box-sizing: border-box; 
    border: 1px solid rgb(190, 190, 190); 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold; 
    font-size: 0.8rem; 
    padding: 0.7rem; 
}

.guided_mode_helpers {
    width: 100%; 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.8rem; 
    padding-left: 0.7rem; 
    padding-right: 0.7rem; 
    padding-top: 0.4rem; 
    padding-bottom: 0.4rem; 
    background-color: #fef8e0; 
    border-top: 1px solid rgb(189, 196, 202); 
    border-left:  1px solid rgb(189, 196, 202); 
    border-right: 1px solid rgb(189, 196, 202);
}

.guided_dropdown_link {
    margin-right: 1.3rem; 
}

.question_mark {
    font-size: 1.1rem; 
}

.review_form_before_submit {
    width: '100%'; 
    box-sizing: border-box; 
    border-top: 1px solid rgb(189, 196, 202); 
    border-left: 1px solid rgb(189, 196, 202); 
    border-right: 1px solid rgb(189, 196, 202);
    margin-top: 0.8rem;
    padding: 0.85rem;  
}

.review_icon {
    margin-left: 0.5rem; 
    margin-right: 0.5rem; 
}

.review_icon:hover {
    color: #f48024; 
    cursor: pointer; 
}



.confirmed_textbox {
    box-sizing: border-box; 
    height: 125px; 
    width: 100%;  
    resize: none;  
    border-top: 1px solid rgb(189, 196, 202); 
    border-left:  1px solid rgb(189, 196, 202); 
    border-right: 1px solid rgb(189, 196, 202);
    border-bottom:  1px solid rgb(189, 196, 202);
    font-size: 0.9rem; 
    font-family: Consolas; 
    padding: 0.5rem; 
}

.confirmed_textbox:focus {
    outline: none; 
    border: 1px solid #0094ff; 
    box-shadow: 0 0 0pt 3pt rgb(207, 237, 255); 
}

.group_1 {
    margin-right: 0.9rem; 
}

.group_2 {
    margin-left: 0.9rem; 
    margin-right: 0.9rem; 
}

.group_3 {
    margin-left: 0.9rem; 
    margin-right: 0.9rem; 
}

.group_4 {
    margin-left: 0.9rem; 
}

.display_hr_preview {
    background-color: rgb(189, 196, 202); 
    height: 1px; 
    border-top: dotted; 
}

.code_snippet {
    font-family: Consolas; 
    padding: 0.2rem; 
    background-color: rgb(240, 239, 239); 
}