
.question_page {
    display: flex; 
    flex-direction: row; 
    background-color:white; 
    height: 200vh; 
    overflow-x: hidden; 
}
.overall_div {
    width: 82%;  
    transform: translateX(150px); 
}

.question_title {
    transform: translateY(60px); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.8rem; 
    padding-left: 2.5rem; 
    padding-top: 2rem; 
    display: flex; 
    justify-content: space-between; 
}

.question_hr {
    background-color: rgb(224, 224, 224); 
    border: none; 
    height: 1px; 
    transform: translateY(55px); 
    margin-left: 2.5rem; 
}

.question_ask_question {
    transform: translateY(-7px); 
    background-color: #0094ff; 
    padding-top: 0.8rem; 
    padding-bottom: 0.8rem; 
    padding-left: 0.6rem; 
    padding-right: 0.6rem; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    border: 1px solid #007bd3; 
    outline: none; 
    color: '#fafafb'; 
    text-decoration: none; 
    font-family: Arial; 
    font-size: 0.8rem; 
}

.question_ask_question:hover {
    background-color: #0076cb; 
    cursor: pointer; 
}

.question_aditya {
    display: flex; 
    flex-direction: row; 
    transform: translateY(60px); 
}

.question_body {
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 1.2rem; 
    margin-right: 1rem;
    line-height: 1.5; 
    font-size: 0.95rem; 
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 40rem; 
}

.question_side_content {
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: 20rem; 
}

.asked_viewed_active {
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 1rem; 
    font-size: 0.9rem; 
    display: flex; 
    flex-direction: row; 
}

.asked_viewed_active_gray {
    color: rgb(152, 152, 152);
    padding-right: 0.75rem;  
}

.asked_viewed_active_li {
    padding-bottom: 1.25rem; 
}

.delete_button_danger:hover {
    cursor: pointer; 
}

.delete_button_danger:focus {
    outline: none; 
}

.askee_box {
    float: right; 
    background-color: #e1edf5; 
    padding-left: 0.4rem; 
    padding-right: 0.4rem; 
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem; 
    width: 175px; 
    height: 65px; 
}

.answeree_box {
    float: right; 
    padding-left: 0.4rem; 
    padding-right: 0.4rem; 
    padding-bottom: 0.3rem; 
    width: 175px; 
    height: 45px; 
    transform: translateY(-110px); 
}

.review_form_before_submit_answer {
    width: '100%'; 
    box-sizing: border-box; 
    border-top: 1px solid rgb(189, 196, 202); 
    border-left: 1px solid rgb(189, 196, 202); 
    border-right: 1px solid rgb(189, 196, 202);
    padding: 0.85rem; 
}

.edit_body_field_2 {
    box-sizing: border-box; 
    width: 700px; 
    display: block; 
    resize: none; 
    padding: 0.5rem; 
    border: 1px solid rgb(189, 196, 202); 
    font-family: Consolas; 
    margin-bottom: 1rem; 
    font-size: 0.85rem; 
    height: 200px; 
    overflow: scroll; 
}

.edit_body_field_2:focus {
    outline: none; 
    border: 1px solid #0094ff; 
    box-shadow: 0 0 0pt 3pt rgb(207, 237, 255); 
}

.answeree_form {
    transform: translateX(30px); 
}