.questions_list_item_right {
    display: flex; 
    flex-direction: column; 
}

.middle_info {
    font-size: 0.9rem; 
    color: grey; 
    position: absolute; 
    left: 200px; 
    font-size: 0.7rem; 
    transform: translate(0px, 35px);  
}

.tag {
    padding: 0.3rem; 
    color: #1c6ba4; 
    background-color: #dbe9f3; 
    margin: 0.2rem; 
}

.bottom_info {
    font-size: 0.9rem; 
    color: grey; 
    position: absolute; 
    right: 0px;
    font-size: 0.7rem; 
    transform: translate(0px, 35px);  
}

.username_answered {
    color: #0076cb; 
    margin-left: 0.3rem; 
}

.questions_page {
    display: flex; 
    flex-direction: row; 
    background-color:white; 
}

.questions_list {
    transform: translateY(60px)
}

.questions_list_item {
    font-family: Arial, Helvetica, sans-serif; 
    color: #0076cb; 
    font-size: 1rem; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    padding-right: 1rem; 
    padding-left: 0.5rem; 
    border-top: 1px solid rgb(189, 196, 202); 
    display: flex; 
    text-decoration: none; 
}

.question_list_item_title {
    padding-left: 0.75rem; 
}

.questions_right_side {
    padding-top: 2rem; 
    padding-bottom: 2rem; 
    padding-right: 0.6rem; 
    flex: 4; 
}

.questions_header {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

.questions_title {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.7rem; 
    transform: translate(20px, 40px)
}

.ask_question_button {
    transform: translateY(40px);
    background-color: #0094ff; 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    border: 1px solid #007bd3; 
    outline: none; 
    color: '#fafafb'; 
    text-decoration: none; 
    font-family: Arial; 
    font-size: 0.8rem; 
}